.vscode/
backend/__pycache__/
backend/media/*
!backend/media/products/
!backend/media/products/**
frontend/node_modules/
frontend/dist/
frontend/.env

.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyc