DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=5432

DATABASE_URL=postgresql://neondb_owner:npg_vjLaZ2E7qfXc@ep-floral-mode-at7zfkl4-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=requirepostgresql://neondb_owner:npg_vjLaZ2E7qfXc@ep-floral-mode-at7zfkl4-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require